.event {
  width: 37.5rem;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.container > p {
  margin-top: 60px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(39, 39, 41);
}
.a-wrapper {
  display: flex;
  flex-direction: column;
  width: 84%;
  padding: 0 8%;
  margin-bottom: 25px;
}
@media (max-width: 415px) {
  .a-wrapper {
    width: 92%;
    padding: 0 4%;
  }
}
.wrapper-t {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  margin-bottom: 12px;
}
.event-card {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(177, 173, 173, 0.315);
  border-radius: 5px;
  padding: 14px 8px;
}
.event-card:hover {
  border: 2px solid rgba(72, 150, 214, 0.815);
  cursor: pointer;
}
.card-img {
  /* flex-direction: row; */
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img > img {
  width: 100%;
  align-self: center;
}
.event-icon {
  font-size: 30px;
  color: rgb(82, 202, 241);
  border-radius: 90px;
  padding: 3px;
  border: 5px solid rgba(192, 230, 245, 0.678);
  background-color: rgba(192, 230, 245, 0.678);
}
.rev {
  font-size: 30px;
  color: rgb(241, 157, 47);
  border-radius: 90px;
  padding: 3px;
  border: 5px solid rgb(252, 218, 192, 0.747);
  background-color: rgba(252, 218, 192, 0.747);
  transform: scale(-1, 1);
}
.card-content {
  width: 78%;
  margin-left: 5px;
}
.c-t {
  display: flex;
  flex-direction: row;
}
.card-title {
  font-weight: 700;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.v1 {
  border-left: 2px solid rgba(128, 128, 128, 0.527);
  height: 15px;
  margin: 0 8px;
}
@media (max-width: 415px) {
  .v1 {
    height: 36px;
  }
}
.card-info {
  font-size: 13px;
  color: gray;
  margin-top: 3px;
}
.zoom {
  display: flex;
  flex-direction: row;
}
.zoom > p {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}
.zoom > img {
  width: 18px;
  margin-right: 3px;
}
@media (max-width: 415px) {
  .zoom > img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
}
.back-icon {
  size: 10px;
  font-size: 24px;
  position: absolute;
  top: 24px;
  left: 24px;
}
.back-icon:hover {
  cursor: pointer;
}
.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.field > .img {
  width: 8%;
}
.field-content {
  width: 100%;
  /* margin-right: 10%; */
}
@media (max-width: 415px) {
  .field-content {
    /* margin-left: 2%; */
  }
}
.adjust {
  /* width: 86%; */
  margin-right: 0%;
}
.field > .img > .t {
  font-size: 17px;
  color: rgb(82, 202, 241);
  border-radius: 90px;
  padding: 3px;
  border: 5px solid rgb(234, 239, 241);
  background-color: rgb(234, 239, 241);
}
.field-content > .title {
  margin: 0;
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}
.field-content > .footer {
  color: gray;
  font-size: 12px;
}

#ex {
  width: 100% !important;
  background-color: white;
}
#datepicker {
  background-color: white;
}
.field-content > input,
.r > input,
.prefSearch > input,
.prefSearchE > input,
.r > select,
#ex {
  margin: 0;
  margin-top: 10px;
  padding: 9px;
  font-size: 13px;
  border: 2px solid rgba(177, 173, 173, 0.315);
  border-radius: 5px;
  width: calc(100% - 22px);
  caret-color: #48ccac;
  outline: none;
  transition: all 0.1s ease-in;
}
.r {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.r > input {
  width: calc(48% - 22px);
}
.prefSearch {
  width: 48%;
  margin: 0;
  margin-left: auto;
  position: relative;
}
.r > select {
  width: 48%;
  margin-left: 2%;
}
.prefSearch {
  margin-left: 4%;
}
[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type='date'] {
  position: relative;
}
input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  /* cursor: pointer; */
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.field-content > input:focus,
.r > input:focus,
.prefSearch > input:focus {
  border: 2px solid #48ccac;
}
.preference__modal__suggestions > span {
  padding: 10px;
  width: 100%;
  display: block;
  transition: all 0.2s ease-in;
}
.preference__modal__suggestions > span:hover {
  background-color: #f5f5f5;
}
.prefSearch > div,
.prefSearchE > div {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  cursor: pointer;
  z-index: 5;
  font-size: 0.875rem;
  font-weight: 600;
  width: 100%;
  /* margin-left: 0.6rem; */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 0;
  border-radius: 5px;
}
.prefSearchE > div {
  width: 72%;
  height: fit-content;
  overflow: hidden;
}
.page2 {
  height: 90%;
  overflow-y: scroll;
}
.bottom-nav {
  position: relative;
  bottom: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px solid black; */
}
.bottom-nav > button {
  padding: 8px 12px;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: none;
}
.bottom-nav > button:disabled {
  opacity: 0.5 !important;
  cursor: default;
}
