* {
  font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  border-radius: 40px;
}
.a-main {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}
.left-panel {
  width: 280px;
  height: 100vh;
  /* overflow-y: scroll; */
  flex-wrap: wrap;
  border-right: 2px solid rgb(95, 94, 94);
  background-color: rgb(20, 13, 13);
  color: white;
}
.right-panel {
  height: 100vh;
  overflow-y: scroll;
  width: calc(100% - 280px);
}

.left-panel > .heading {
  font-weight: 700;
  font-size: 30px;
  padding: 30px;
}
.overview {
  margin-bottom: 20px;
}
.overview > p:first-child,
.my-events > div:first-child {
  font-weight: 600;
  margin: 0;
  padding: 5px 25px;
}
.overview-fields {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding: 5px 30px;
  border-left: 2px solid rgb(20, 13, 13);
  cursor: pointer;
}
.overview-fields:hover {
  background-color: rgba(255, 255, 255, 0.151);
  border-left: 2px solid white;
}
.overview-fields > p,
.events-fields > p {
  margin: 0;
  padding: 5px 0;
}
.overview-fields > .icn {
  font-size: 22px;
  color: white;
  margin-right: 4px;
}

.my-events > div {
  display: flex;
  flex-direction: row;
}
.my-events > div > .btn {
  background-color: rgb(34, 38, 39);
  color: white;
  outline: none;
  font-size: 12px;
  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: auto;
}
.internship > div > .btn {
  background-color: rgb(34, 38, 39);
  color: white;
  outline: none;
  font-size: 10px;
  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 4px;
  margin-left: auto;
}
.topbar {
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 15;
  border-bottom: 2px solid #888;
}
.topbar > p {
  font-size: 17px;
  font-weight: 700;
  margin-left: 50px;
  margin: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  width: max-content;
}
.companies-list > .headerr {
  display: flex;
  flex-direction: row;
}
.companies-list > .headerr > p:first-child {
  font-weight: 600;
  font-size: 14px;
  margin: 5px;
  margin-left: 30px;
}
.headerr {
  margin: 7px 0;
}
.add-btn {
  font-size: 13px;
  cursor: pointer;
  padding: 6px 6px;
  background-color: #555;
  color: white;
  border-radius: 3px;
  margin: 0;
}
.list {
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  margin: 0 30px;
}

.cols {
  width: 22%;
  padding: 0 10px;
  /* flex-flow: row wrap; */
  /* flex-basis: 30%; */
  /* text-align: center; */
}
.cols > p {
  margin: 10px 0;
  color: rgb(29, 70, 184);
  cursor: pointer;
}
.cols > p:hover {
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .list {
    flex-direction: column;
  }
  .cols {
    width: calc(100% - 20px);
  }
}
