* {
  font-family: 'Inter', sans-serif;
}

.a-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-main > button {
  background-color: rgb(34, 38, 39);
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 5px 25px;
}
