/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  border-radius: 40px;
}
.p-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}
.edit-panel {
  width: 350px;
  /* height: 100vh; */
  overflow-y: scroll;
  padding: 30px;
  flex-wrap: wrap;
  border-right: 2px solid rgb(95, 94, 94);
}
.edit-panel > .save {
  color: rgb(94, 91, 91);
  background-color: rgb(219, 216, 216);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  text-align: center;
}
.edit-panel > .t {
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
}

.details > .title,
.section > .title {
  font-size: 16px;
  font-weight: 600;
}
.details > .title {
  display: flex;
  flex-direction: row;
}
.details > .title > .edit {
  color: rgb(0, 110, 255);
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 18px;
  cursor: pointer;
}
.details > .field-e {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}
.details > .field-e > p {
  margin: 0;
  width: 93%;
  margin-left: 12px;
  margin-top: 7px;
  font-size: 15px;
}
.details > .field-e > .t {
  width: 7%;
  font-size: 17px;
  color: rgb(82, 202, 241);
  border-radius: 90px;
  padding: 3px;
  border: 5px solid rgb(234, 239, 241);
  background-color: rgb(234, 239, 241);
}
.options {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  margin: 10px 0;
  cursor: pointer;
  /* border-bottom: 2px solid rgba(201, 200, 200, 0.466); */
}
.options:hover {
  border-radius: 5px;
  background-color: rgba(209, 205, 205, 0.596);
}
.options > div {
  flex: 1;
}
.options > .t {
  font-size: 14px;
  color: rgb(141, 139, 139);
}

.options > .editd > .edit {
  font-size: 13px;
  flex: 1;
  font-weight: 400;
  width: 70px;
  text-align: center;
  padding: 4px 0;
  background-color: rgb(201, 197, 197);
  border-radius: 50px;
  margin-left: 40px;
  /* margin-top: 18px; */
  cursor: pointer;
}
.section > .op {
  color: rgba(196, 193, 193, 0.315);
  font-size: 0.21px;
}
.options > #arrow {
  align-self: center;
  text-align: right;
}
.options > .editd > .e-icon {
  font-size: 24px;
  cursor: pointer;
}

.preview {
  width: calc(100% - 350px);
  /* height: 100vh; */
  overflow-y: scroll;
}
.container-pre > .title {
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 15;
  border-bottom: 2px solid #888;
}
.container-pre > .title > p {
  font-size: 17px;
  font-weight: 700;
  margin-left: 50px;
  margin: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px 0;
  width: max-content;
  border-bottom: 3px solid black;
}
.container-pre > .cover-photo {
  height: 300px;
  width: 100%;
  background-color: blueviolet;
}
.content-pre {
}
.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7,
.d8 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 20px 0;
  margin-left: 5%;
}
.d3 {
  flex-direction: column;
}

.d1-a {
  display: flex;
  flex-direction: row;
  width: 75%;
}
.d1-a > .logo {
  color: rgb(199, 41, 41);
  font-size: 100px;
}
.d1 > .rsvp {
  /* margin-left: auto; */
  width: 25%;
}
.d1 > .rsvp > div {
  /* padding: 0px 70px; */
  color: white;
  background-color: rgb(31, 87, 241);
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  text-align: center;
}
.d1 > .rsvp > div > p {
  padding: 10px 0;
}
.d1-head {
  margin-top: 15px;
}
.d1-head > p:first-child {
  color: rgb(50, 112, 228);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  margin-bottom: 13px;
}
.d1-head > p:last-child {
  font-weight: 700;
  margin: 0;
}
.content-pre > .hh {
  color: gainsboro;
  font-size: 0.21px;
}
.d2-a {
  width: 75%;
  /* opacity: 0.7; */

  padding-right: 10px;
}
.d2-a > p:first-child,
.d2-b > p:first-child,
.d3-a > p:first-child {
  font-weight: 700;
  margin: 0;
}
.d2-a > p:last-child,
.d2-b > p:last-child {
  font-size: 14px;
  line-height: 22px;
}
.d3 > p:first-child,
.d4 > p:first-child,
.d5 > p:first-child,
.d6 > p:first-child,
.d7 > p:first-child,
.d8 > p:first-child {
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}
.speaker {
  display: flex;
  flex-direction: row;
  /* opacity: 0.7; */
  margin-bottom: 15px;
}
.speaker-pic {
  width: 30%;
}
.speaker-pic > .ic {
  font-size: 150px;
}
.speaker-bio {
  padding-left: 10px;
}
.speaker-bio > .name {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.speaker-bio > .sub {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.speaker-bio > .sub > p:first-child {
  margin: 0;
  margin-top: 3px;
  margin-right: 4px;
  font-weight: 700;
}
.LI {
  width: 27px;
  height: 25px;
}
.speaker-bio > p:nth-child(3) {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
}
.d5,
.d4,
.d7,
.d8 {
  flex-direction: column;
}
.d5 > p:nth-child(2) {
  font-size: 15px;
}
.d4 {
  margin-bottom: 50px;
}
.d4 > .head {
  font-weight: 700;
  font-size: 15px;
}
.d4 > div {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid gainsboro;
}
.d4 > div:last-child {
  border-bottom: none;
}

.d4 > div > p:nth-child(1) {
  width: 60%;
}

/* .d4 > .head > p:nth-child(2), */
.d4 > div > p:nth-child(2) {
  /* margin-left: auto; */
  width: 20%;
}
/* .d4 > .head > p:nth-child(3), */
.d4 > div > p:nth-child(3) {
  /* margin-left: 80px; */
  width: 20%;
  /* margin-right: 100px; */
}
.cards {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
}
.card {
  width: 280px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  position: relative;
  z-index: 10;
  flex-basis: 280px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card > .content {
  padding: 8px;
}
.logo {
  color: rgb(199, 41, 41);
  font-size: 100px;
}
.card > .content > .header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 10px;
}
.content > p:nth-child(2) {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}
.content > p:nth-child(3) {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
}
.content > p:nth-child(4) {
  font-size: 13px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 500;
}
.header > p {
  margin: 0;
  font-size: 12px;
  margin-left: 2px;
}
.footer {
  display: flex;
  flex-direction: row;
  border-top: 2px solid rgba(128, 128, 128, 0.438);
  padding: 20px 10px;
}
.back-arr {
  margin-left: 10px;
  font-size: 23px;
  margin-top: 8px;
  cursor: pointer;
}
.bookmark {
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.location {
  /* margin-top: 2px; */
}
.footer > p {
  margin: 0;
  margin-left: auto;
  font-size: 15px;
  font-weight: 700;
  padding: 8px;
  border: 2px solid rgb(180, 178, 178);
  border-radius: 3px;
  cursor: pointer;
}
.d8 > div {
  display: flex;
  flex-direction: row;
}
.d8-a {
  width: 70%;
  padding-right: 15px;
  /* font-weight: 500; */
}

.d8-b {
  /* width: 25%; */
  /* font-weight: 500; */
}
.d8-a > p {
  font-size: 14px;
  line-height: 22px;
}
.d8-b > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.d8-b > div > p {
  margin: 0;
  font-size: 15px;
}
.d8-b > div > p:first-child {
  color: rgb(78, 168, 196);
  margin-right: 2px;
}
