/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  border-radius: 40px;
}
.p-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}
.edit-panel {
  width: 250px;
  /* height: 100vh; */
  overflow-y: scroll;
  padding: 30px;
  flex-wrap: wrap;
  border-right: 2px solid rgb(95, 94, 94);
}
.edit-panel > .save {
  color: rgb(94, 91, 91);
  background-color: rgb(219, 216, 216);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  text-align: center;
}
.edit-panel > .t {
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
}

.details > .title,
.section > .title {
  font-size: 16px;
  font-weight: 600;
}
.details > .title {
  display: flex;
  flex-direction: row;
}
.details > .title > .edit {
  color: rgb(0, 110, 255);
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 18px;
  cursor: pointer;
}
.details > .field-e {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}
.details > .field-e > p {
  margin: 0;
  width: 93%;
  margin-left: 12px;
  margin-top: 7px;
  font-size: 15px;
}
.details > .field-e > .t {
  width: 7%;
  font-size: 17px;
  color: rgb(82, 202, 241);
  border-radius: 90px;
  padding: 3px;
  border: 5px solid rgb(234, 239, 241);
  background-color: rgb(234, 239, 241);
}
.options {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  margin: 10px 0;
  cursor: pointer;
  /* border-bottom: 2px solid rgba(201, 200, 200, 0.466); */
}
.options:hover {
  border-radius: 5px;
  background-color: rgba(209, 205, 205, 0.596);
}
.options > div {
  flex: 1;
}
.options > .t {
  font-size: 14px;
  color: rgb(141, 139, 139);
}

.options > .editd > .edit {
  font-size: 13px;
  flex: 1;
  font-weight: 400;
  width: 70px;
  text-align: center;
  padding: 4px 0;
  background-color: rgb(201, 197, 197);
  border-radius: 50px;
  margin-left: 40px;
  /* margin-top: 18px; */
  cursor: pointer;
}
.section > .op {
  color: rgba(196, 193, 193, 0.315);
  font-size: 0.21px;
}
.options > #arrow {
  align-self: center;
  text-align: right;
}
.options > .editd > .e-icon {
  font-size: 24px;
  cursor: pointer;
}

.preview {
  /* width: 75%; */
  /* height: 100vh; */
  overflow-y: hidden;
}
